{% extends "base.html" %}
{% block header %}
<div class="background-color-booking">
 <div class="margin-content2">
    <body>
        <br><br><br><br>
{% endblock %}
{% block content %}
        <br>
        <div class="wrap-booking">
        <div class="frame-booking">
            <a href="index.html"><p style="color:rgb(0, 89, 255)">< Back</p></a><!-- links back to homepage-->
            <h3>Booking history</h3>
            <br>
        </div>
        <div class="margin-inside-booking">
            <table>
                <tr>
                    <th><table>
                        <tr style="margin-left:30px;">
                            <th><p class="booking-reference">BOOKING ID</p></th>
                            <th style="width:50px;"></th>
                            <th><p class="booking-date">BOOKING DATE/TIME</p></th>
                            <th style="width:50px;"></th>
                            <th><p class="event-title-b">EVENT TITLE</p></th>
                            <th style="width:50px;"></th>
                            <th><p class="num-tickets">TICKETS</p></th>
                            <th style="width:20px;"></th>
                            <th><p class="ticket-price">COST</p></th>
                            <th><p class="ticket-price">IMAGE</p></th>
                        </tr>
                    </table></th>
                </tr>
            </table>
            <hr style="margin-top:0px;border-color:rgb(145, 145, 145)">
            <div class="booking-content">
{% if current_user.is_authenticated %}
    {% if bookings %}
        {% for booking in bookings %}
            <table>
               <tr>
                 <th><p class="booking-content1">{{ booking.booking_ref }}</p></th>
                 <th style="width:50px;"></th>
                 <th><p class="booking-content2">{{ booking.booking_datetime }}</p></th>
                 <th style="width:50px;"></th>
                 {% if booking.event %}
                     <th><p class="booking-content3"><i>"{{ booking.event.event_name }}"</i><br>{{ booking.event.date }} {{ booking.event.starttime }} - {{ booking.event.endtime }}</p></th>
                     <th style="width:50px;"></th>
                     <th><p class="booking-content4">{{ booking.event.num_tickets }}</p></th>
                     <th style="width:100px;"></th>
                     <th><p class="booking-content5">{{ booking.event.price }}</p></th>
                     <th style="width:50px;"></th>
                     <th><img src="{{ booking.event.image }}" class="img-booking"></th>
                </tr>
            </table>
            <hr style="margin-top:10px;border-color:rgb(145, 145, 145)">
             {% endfor %}
    {% else %}
        <p>You have no booking history</p>
    {% endif %}
{% endif %} 
        </div>
        </div>
    </div>
    </body>
 </div>
 <br
  {% for bookings in booking %}
  <br><br><br><br><br><br>
  {% endfor %}
</div>
{% endblock %}
