{% extends "base.html" %}
{% block header %}
<body>
  <title>Contact Us</title>
{% endblock %}
{% block content %}
    <br><br><br>
        <!-- Adding the title on the html page-->
        <div class="container">
            <div class="row justify-content-center">
                <h2>Contact Us</h2>
            </div>
        </div>
    <!-- First Container for the Contact Us HTML -->
    <div class="container py-5">

    <!-- Creating the contact us html -->
    <form id="contactForm">
  
      <!-- First name input -->
      <div class="mb-3">
        <label class="form-label" for="name">First Name:</label>
        <input class="form-control" id="name" type="text" placeholder="First Name" />
      </div>

      <!-- Last name input -->
      <div class="mb-3">
        <label class="form-label" for="name">Last Name:</label>
        <input class="form-control" id="name" type="text" placeholder="Last Name" />
      </div>
  
      <!-- Input Email Address -->
      <div class="mb-3">
        <label class="form-label" for="emailAddress">Email Address:</label>
        <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
      </div>
  
      <!-- Query input -->
      <div class="mb-3">
        <label class="form-label" for="message">Query:</label>
        <textarea class="form-control" id="message" type="text" placeholder="Enter your Message Here..."></textarea>
      </div>
  
      <!-- Submit Button -->
      <div class="d-grid">
        <button class="btn btn-primary btn-lg" type="submit">Submit Message</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
        
