{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<form method="POST">
    <div class="background-color2">
    <div class="margin-content">
    <br><br><br><br>
{% if event %}
        <img src="{{ event.image }}" class="content-page-image">
        <br>
        <br>
    </div>
    </div>
    <div class="margin-content">
        <br>
        {% if current_user.is_authenticated and current_user.user_id == event.user_id %}
        {% if event.canceled %}
        <form method="POST" action="{{ url_for('event.delete_event', event_id=event.event_id) }}">
            <button type="submit" class="btn btn-danger">Delete Event</button>
        </form>
        {% else %}
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('event.edit_event', event_id=event.event_id) }}">
            <input type="hidden" name="event_id" value="{{ event.event_id }}">
            <button type="submit" class="btn btn-default">Edit event</button>
        </form>
        <br>
        <form method="POST" action="{{ url_for('event.cancel_event', event_id=event.event_id) }}">
            <button type="submit" class="btn btn-danger">Cancel Event</button>
        </form>
        <form method="POST" action="{{ url_for('event.delete_event', event_id=event.event_id) }}">
            <button type="submit" class="btn btn-danger">Delete Event</button>
        </form>
        {% endif %}
    {% endif %}
        <h1 div class="title-content-page"> {{ event.event_name }} </h1>
        {% if event.canceled %}
        <p class="text-danger">Cancelled</p>
        {% endif %}
        <table>
            <th><p class="performer">Performed by</p></th>
            <th style="width:5px;"></th>
            <th><p class="performer2"> {{ event.performer }} </th>
        </table>
        <p class="price">{{ event.price }}</p>
        <br>
        <table>
            <tr>
                <th><h2 style="font-weight:bolder;">Description</h2></th>
            </tr>
            <tr>
                <th colspan="5"><p div class="wrap-text1">{{ event.description }}</p></th>
            </tr>
            <tr>
                <th style="height:20px;"></th>
            </tr>
            <!-- Details wrapped in box -->
            <tr><table class="wrap-details-on-content-page">
                    <tr>
                        <th style="height:30px;"></th>
                    </tr>
                    <tr>
                        <th style="font-size:18px;padding-left:40px;"><p>Date and Time</p></th>
                    </tr>
                    <tr>
                        <th style="font-size:16px;padding-left:40px;color:rgb(15, 178, 107);font-weight:lighter"><p>{{ event.date }} {{ event.starttime }} {{ event.endtime }}</p></th>
                    </tr>
                    <tr>
                        <th style="height:20px;"></th>
                    </tr>
                    <tr>
                        <th style="font-size:18px;padding-left:40px;"><p>Location</p></th>
                    </tr>
                    <tr>
                        <th style="font-size:16px;padding-left:40px;font-weight:lighter;padding-right:40px;"><p>{{ event.street }} {{ event.suburb }} {{ event.postcode }} {{ event.state }}</p></th>
                    </tr>
                    <tr>
                        <th style="height:20px;"></th>
                    </tr>
                    <tr>
                        {% if event.canceled %}
                        <th colspan="5"><button class="ticket-button" style="background-color:grey;" id="event-canceled" {% if event.canceled %}disabled{% endif %}>Event cancelled</button></th>
                        {% else %}
                        <th colspan="5"><a href="{{ url_for('event.payment', event_id=event.event_id) }}"><input type="button" value="GET TICKET" class="ticket-button"></a></th>
                        {% endif %}
                    </tr>
                </table>
            </tr>
        </table>
        <table>
            <tr>
                <th></th>
                <th><table>
                    <tr>
                        <!-- Name of person/organisation that published the event -->
                        <br>
                        <th><p style="font-weight:lighter;">Published by</p></th>
                        <th style="width:5px;"></th>
                        <th><p style="color:grey;font-weight:lighter;">{{ event.users.firstname }} {{ event.users.lastname }}</p></th>
                    </tr>
                </table></th>
            </tr>
        </table>
    </div>
    
        <br>
        <br>
        <!-- Comment section -->
     <div class="wrap-comment-content">
        <br>
        <div class="margin-content">
            <div class="comment-box">
                <div class="wrap-comment">
                    <h2>Comments</h2>
                    <br>
                {% if comments %}
                    {% for comment in comments %}
                    <table>
                        <tr>
                            <th><table>
                                <tr>
                        
                                    <th><p class="align-author"><i> {{ comment.author_first_name }} {{ comment.author_last_name }}</i></p></th>
                                    <th><p class="align-comments">on</p></th>
                                    <th><p class="align-comment_date">{{ comment.date_time }}</p></th>


                                    {% if current_user.is_authenticated and current_user.user_id == comment.user_id %}
                                    <th><a href=""><p class="align-comments" style="color:rgb(15, 178, 107);">(Edit)</p></a></th>
                                    {% endif %}
                                </tr>
                            </table></th>
                        </tr>
                        <tr>
                            <th class="align-comments-content"><p> {{ comment.text }} </p></th>
                        </tr>
                    </table>
                    <hr style="border-color:grey;">
                    {% endfor %}
                    <br>
                    <br>
                {% else %}
                    <p>There are no comments to this event.</p><br>
                {% endif %}
                    <!-- Write your own comment -->
                    <h2>
                        Submit a comment</h2>
                        <form method="POST" action="{{ url_for('event.comment', event_id=event.event_id) }}">
                            <input type="text" id="text" name="text" class="comment-box-text">
                            <button type="submit" class="submit-button" style="margin-top:15px;">Submit Comment</button>
                        </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
     </div>
 {% endif %}
</form>
{% endblock %}
   
