{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
  <body>
      <!-- Adding the title on the html page-->
      <div class="margin-content">
        <br><br><br><br><br>
          <div class="row justify-content-center">
              <h2>Forgot Password?</h2>
              <p>We will send you an email with instructions on how to reset your password. Please enter your email address below.</p>
          </div>
      </div>
      <br><br>
  <!-- First Container for the Reset Password HTML -->
  <div class="margin-content">

  <!-- Creating the reset password html -->
  <form id="contactForm">
  
    <!-- Input Email Address to reset Password -->
    <div class="mb-3">
      <input class="form-control" id="emailAddress" type="email" placeholder="Enter Your Email Address..." />
    </div>
  
    <!-- Send Link Button -->
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
  </form>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  </body>
{% endblock %}
        