{% extends "base.html" %}
{% block header %}

<script>

    const category1 = document.querySelectorAll('.icon1');
    const category2 = document.querySelectorAll('.icon2');
    const category3 = document.querySelectorAll('.icon3');
    const category4 = document.querySelectorAll('.icon4');
    const category5 = document.querySelectorAll('.icon5');
    

    const eventCards = document.querySelectorAll('.event-card');

    // Add a click event listener to each category button
    category1.addEventListener('click', () => filterEvents('Marketing'));
    category2.addEventListener('click', () => filterEvents('Finance'));
    category3.addEventListener('click', () => filterEvents('Startup'));
    category4.addEventListener('click', () => filterEvents('Real Estate'));
    category5.addEventListener('click', () => filterEvents('Education'));

    // Function to filter events
    function filterEvents(category) {
        eventCards.forEach(card => {
            const event_category = card.getAttribute('data-category');

            if (category === 'All' || event_category === category) {
                card.style.display = 'block';  // Show the card
            } else {
                card.style.display = 'none';  // Hide the card
            }
        });
    }
</script>

<div class="background-color">
<div class="margin-content">
    <br><br><br><br><br>
    <p style="margin-left:4px;color:black;">It is time to build your dream<br>business</p>
    <br><br>
    <table>
      <div class="margin-top-content">
        <tr>
            <th><div class="header"><p><b>Greater Brisbane Business Classes</b></p></div></th>
            <th></th> 
            <!-- Image of business man on homepage -->
            <th><div><img src="{{ url_for('static', filename='images/business image title.png') }}" class="title-image"></div></th>
        </tr>
      </div>
    </table>
    <br><br>
    <div class="margin-top-content">
    <div class="points">
      <p><b>+ learn how to build a successful business<br>+ meet successful business owners<br>+ expand your knowledge<b></p> 
    </div>
    </div>
    <br>
    <a href="#section1"><button class="exploreevents">Explore events</button></a>
    <p style="height:60px;"></p>
</div>
</div>
<div class="margin-content">
{% endblock %}
{% block content %} 
    <br>
    <br>
        <h1 class="aboutus"><b>About us</b></h1>
        <div class="wrap-text"><p>Welcome to our event management app!<br>Our service is dedicated to offer a range of popular business events around Greater Brisbane and Brisbane City. Take yourself time to discover our latest events and join our newsletter to get informed about updates and new events! Need to reach out to us? Our administrators are here to assist you with any questions or inquiries you might have. We value your feedback and are dedicated to making your experience as seamless as possible. Thank you for using Brisbuis!</p></div>
</div>
<br>
 <body>
 <br><br>
  <div class="wrap-content">
    <br>
    <br>
    <div class="explorecategories">
        <p><b>Explore categories</b></p>
    </div>
    <table>
        <tr>
            <th><a href="javascript:void(0);" onclick="filterEvents('Marketing')"><img src="{{ url_for('static', filename='images/marketing.webp') }}" class="icon1" data-category="Marketing" alt="Marketing" value="Marketing"></a></th>
            <th><img src="{{ url_for('static', filename='images/finance.webp') }}" class="icon2" data-category="Finance" alt="Finance" value="Finance"></th>
            <th><img src="{{ url_for('static', filename='images/startup.png') }}" class="icon3" data-category="Startup" alt="Startup" value="Startup"></th>
            <th><img src="{{ url_for('static', filename='images/real estate.png') }}" class="icon4" data-category="Real Estate" alt="Real Estate" value="Real Estate"></th>
            <th><img src="{{ url_for('static', filename='images/education.png') }}" class="icon5" data-category="Education" alt="Education" value="Education"></th>
        </tr>
    </table>
    <table class="table-categories">
        <tr>
            <!-- Description of icons -->
            <th class="marketing" id="section1" style="color:black;">Sales & Marketing</th>
            <th class="finance" style="color:black;">Finance</th>
            <th class="startup" style="color:black;">Startup</th>
            <th class="realestate" style="color:black;">Real Estate</th>
            <th class="education" style="color:black;">Education</th>
        </tr>
    </table>
    <br><br><br><br>
    <div class="events">
        <p><b>Explore upcoming events</b></p>
    </div>
    <div class="scrollmenu">
        {% if events %}
        <div class="event-card" data-category="{{ event_category }}"></div>
            {% for event in filtered_events %}
                <a href="content-page.html">
                    <div class="wrap">
                        <div id="card">
                            <div class="images"> <img src="{{ event.image }}" style="width:260px;height:130px;"></div>
                            <p class="event-title-i">{{ event.event_name }}</p>
                            <p class="event-location">{{ event.street }} {{ event.suburb }} {{ event.postcode }} {{ event.state }}</p>
                            <p class="event-price">{{ event.price }}</p>
                            <p class="event-date">{{ event.date }} {{ event.starttime }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>There are currently no upcoming events.</p>
        </div>
        {% endif %}
   </div>
      <br><br><br><br><br><br><br><br>
      <div class="events">
        <p>Explore new events</p>
      </div>
      <div class="scrollmenu">
        {% for event in events %}
        <a href="content-page.html">
            <div class="wrap">
                <div id="card">
                <div class="images"> <img src="{{ event.image }}" style="width:260px;height:130px;"></div>
                    <p class="event-title-i">{{ event.event_name }}</p>
                    <p class="event-location">{{ event.street }} {{ event.suburb }} {{ event.postcode }} {{ event.state }}</p>
                    <p class="event-price">{{ event.price }}</p>
                    <p class="event-date">{{ event.date }} {{ event.starttime }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
      </div>
      <br>
      <br>
      <br>
      <div class="events">
        <p>Explore free events</p>
      </div>
      <div class="scrollmenu">
      {% if events %}
        {% for event in events %}
            {% if event.price == "$0" %}
            <a href="content-page.html">
            <div class="wrap">
            <div id="card">
            <div class="images"> <img src="{{ event.image }}" style="width:260px;height:130px;"></div>
                <p class="event-title-i">{{ event.event_name }}</p>
                <p class="event-location">{{ event.street }} {{ event.suburb }} {{ event.postcode }} {{ event.state }}</p>
                <p class="event-price">{{ event.price }}</p>
                <p class="event-date">{{ event.date }} {{ event.starttime }}</p>
            </div>
            </div>
            </a>
            {% endif %}
        {% endfor %}
      {% else %}
        <p>There are currently no free events.</p>
      {% endif %}
      </div>
      <br>
      <br>
      <div class="events">
        <p>Explore all events</p>
      </div>
      <div class="scrollmenu">
        {% for event in events %}
        <a href="content-page.html">
            <div class="wrap">
                <div id="card">
                <div class="images"> <img src="{{ event.image }}" style="width:260px;height:130px;"></div>
                    <p class="event-title-i">{{ event.event_name }}</p>
                    <p class="event-location">{{ event.street }} {{ event.suburb }} {{ event.postcode }} {{ event.state }}</p>
                    <p class="event-price">{{ event.price }}</p>
                    <p class="event-date">{{ event.date }} {{ event.starttime }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
      </div>
      <br>
      <br>
      <br>
      <br>
      </body>
{% endblock %}
