{% extends "base.html" %}
{% block header %}
<form method="POST">
<div class="background-color-login">
    <body><br><br><br><br>
        <h2 style="text-align:center">Log In</h2><br>
    </body>
{% endblock %}
{% block content %}
<body>
<div class="margin-content">
        <div class="wrap-login">
            <table>
                <tr>
                    <th><table>
                        <tr style="margin-left:30px;">
                            <th><label>Email address</label></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="3"><input type="email" id="email" name="email" class="enter-details" required></th>
                        </tr>
                        <tr>
                            <th style="height:20px;"></th>
                        </tr>
                        <tr>
                            <th><label>Password</label></th></th>
                            <th></th>
                        
                        <tr>
                            <th colspan="3"><input type="password" id="password" name="password" class="enter-details" required></th>
                        </tr>
                        <tr>
                            <th style="height:30px;"></th>
                        </tr>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <!-- User can switch to Signup if they have no account -->
                    <th><input type="submit" value="Log In" class="log-in-sign-in-button"></th>
                    <th><p style="padding-left:40px;">Don't have an account yet?</p></th>
                    <th style="width:5px;"></th>
                    <th><a href="register.html"><p style="color:rgb(0, 89, 255);">Sign Up</p></a></th>
                </tr>
                <tr>
                    <th style="height:30px;"></th>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <!-- Reset password -->
        <p class="forgot-password1">Forgot Password?</p>
        <a href=""><p class="forgot-password">Reset your Password here</p></a>
    </div>
    </body>
</div>
<br>
<br>
<br>
</form>
{% endblock %}
