{% extends "base.html" %}
{% block header %}
<form method="POST">
{% endblock %}
{% block content %}
<div class="background-color-login">
    <br><br><br><br>
<h2 style="text-align:center">Log In</h2><br>
<body>
<div class="margin-content">
        <div class="wrap-login">
            <table>
                <tr>
                    <th>
                        <tr style="margin-left:30px;">
                            <th><label>Email address</label></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="3"><input type="email" id="email" name="email" class="enter-details" required></th>
                        </tr>
                        <tr>
                            <th style="height:20px;"></th>
                        </tr>
                        <tr>
                            <th><label>Password</label></th></th>
                            <th></th>
                        
                        <tr>
                            <th colspan="3"><input type="password" id="password" name="password" class="enter-details" required></th>
                        </tr>
                        <tr>
                            <th style="height:30px;"></th>
                        </table>
                    </tr>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <!-- User can switch to Signup if they have no account -->
                    <th><input type="submit" value="Log In" class="log-in-sign-in-button"></th>
                    <th><p style="padding-left:40px;">Don't have an account yet?</p></th>
                    <th style="width:5px;"></th>
                    <th><a href="register.html"><p style="color:rgb(0, 89, 255);">Sign Up</p></a></th>
                </tr>
                <tr>
                    <th style="height:30px;"></th>
                </tr>
            </table>
        </div>
        <br>
        <br>
         <!-- Reset password -->
        <table>
            <tr>
                <th style="width:319px;"></th>
                <th><p class="forgot-password1">Forgot Password?</p></th>
            </tr>
            <tr>
                <th style="width:319px;"></th>
                <th><a href="Forgot_Password.html"><p class="forgot-password">Reset your Password here</p></a></th>
            </tr>
        </table>
    </div>
    </body>
</div>
</form>
{% endblock %}
