{% extends "base.html" %}
{% block header %}
<div class="background-color-payment">
    <div class="margin-content">
    <body>
        <br><br><br><br><br>
{% endblock %}
{% block content %}
        <table>
            <tr><table>
                <tr>
                    <!-- Summary of event ticket/s being booked -->
                    <th><table class="wrap-summary">
                        <tr>
                            <th><p class="wrap-summary-content">Booking summary</p></th>
                        </tr>
                        <tr>
                            <th colspan="3"><hr class="hr"></th>
                        </tr>
                        <tr>
                            <th><a href=""><p class="wrap-summary-content1" style="color:rgb(0, 89, 255);font-weight:lighter;">Edit</p></a></th>
                        </tr>
                        <tr>
                            <th><p class="wrap-summary-content1"style="font-weight:lighter;line-height:1.3em;height:4em;overflow:hidden;">2 x Develop a Successful Artificial Intelligence Startup Today! Entrepreneur</p></th>
                        </tr>
                        <tr>
                            <th><p class="wrap-summary-content1">DATE & TIME</p></th>
                        </tr>
                        <tr>
                            <th><p class="wrap-summary-content1" style="font-weight:lighter;">Sun, 17 Sep 2023 1:00 PM - 5:00 PM</p></th>
                        </tr>
                        <tr>
                            <th colspan="3"><hr class="hr"></th>
                        </tr>
                        <tr>
                            <th><p class="wrap-summary-content1">SUBTOTAL</p></a></th>
                            <td class="wrap-summary-content1" style="float:right;">$210.66</td>
                        </tr>
                        <tr>
                            <th><p class="wrap-summary-content1">GST</p></th>
                            <td class="wrap-summary-content1" style="float:right;">$0.00</td>
                        </tr>
                        <tr>
                            <th colspan="3"><hr class="hr"></th>
                        </tr>
                        <tr>
                            <th><p class="wrap-summary-content1">TOTAL</p></th>
                            <td class="wrap-summary-content1" style="float:right;">$210.66</td>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                    </table></th>
                </tr>
                <tr>
                    <!-- Payment below summary-->
                    <th><table class="wrap-payment">
                        <tr>
                            <th><h3 class="payment-method">Payment Method</h3></th>
                        </tr>
                        <tr>
                            <th div class="payment-method">
                                <input type="radio"id="paybycredit" name="paymentmethod" style="margin-left:30px;">
                                <label for="paybycredit">Credit / Debit Card</label></th>
                            <th><img src="{{ url_for('static', filename='images/apple-pay.png') }}" class="applepay" alt="Apple Pay"></th>
                            <th><img src="{{ url_for('static', filename='images/GooglePay.png') }}" class="googlepay" alt="Google Pay"></th>
                            <th><img src="{{ url_for('static', filename='images/paypal.png') }}" class="paypal" alt="PayPal"></th>
                        </tr>
                        <tr>
                            <th><img src="{{ url_for('static', filename='images/lock icon.jpeg') }}" class="lock-icon"></th>
                            <th colspan="2"><h3 class="paymentdetails">Payment Details</h3></th>
                        </tr>
                        <tr>
                            <th colspan="4"><form>
                                <div class="form-group">
                                    <div class="form-group1">
                                    <label for="cardnumber">Card Number</label>
                                    <input type="password" id="cardnumber" class="form-control" class="hhhh" placeholder="1234 5678 9012 3456">
                                    </div>
                                    <br>
                                    <div class="form-group1">
                                    <label for="cardname">Cardholder Name</label>
                                    <input type="text" id="cardname" class="form-control">
                                    </div>
                                    <br>
                                    <table class="form-group1">
                                        <tr>
                                            <th class="form-group2"><label for="expirydate">Expiry Date</label>
                                                <input type="text" id="expirydate" class="form-control" placeholder="mm/yy"></th>
                                            <th><p style="width:200px;"></p></th>
                                            <th class="form-group3"><label for="cvv">CVV</label>
                                                <input type="password" id="cvv" class="form-control" placeholder="123"></th>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="3"><a href="/"><input type="submit" value="PROCEED TO PAY" class="payment-button"></a></th>
                        </tr>
                    </table></th>
                </tr>
            </table></tr>
        </table>
    </body>
    </div>
</div>
{% endblock %}
