{% extends "base.html" %}
{% block header %}
    <title>Terms and Conditions - Brisbuis</title>
{% endblock %}
{% block content %}
<body><br><br><br><br>
   <h2 style="text-align:center;font-weight:bold">Terms and Conditions - Brisbuis</h2>
    <div class="margin-content">
    <div class="content">
        <h3>Introduction:</h3>
        <p>Welcome to Brisbuis! These Terms and Conditions outline the rules for using our website. By using Brisbuis, you agree to these terms. Please do not use Brisbuis if you do not agree with these terms and conditions.</p>

        <h3>Using Brisbuis:</h3>
        <p>When using Brisbuis, please be respectful and responsible for all your actions whilst using our services. Do not misuse our services or try to harm the reputation of Brisbuis or other users.</p>

        <h3>Account Information:</h3>
        <p>If you create an account on Brisbuis, please provide accurate information, as well as making sure it is secure. You are responsible for your account, so keep your password secure and do not share it with others.</p>

        <h3>Content:</h3>
        <p>Brisbuis may contain content from users and other third parties. We are not responsible for this content. If you as a user notice anything wrong, please let us know via our contacts.</p>

        <h3>Limitation of Liability:</h3>
        <p>We as a company aim to provide accurate and helpful information to all our users, but Brisbuis cannot guarantee the accuracy of the content. We are not responsible for any damages or losses related to your use of our website.</p>

        <h3>Governing Law:</h3>
        <p>These terms are governed by in accordance with the laws of Australian Law. Any legal issues will be resolved in the courts of Australia.</p>

        <p>By using Brisbuis, you agree to follow these terms. Need to reach out to us? Our administrators are here to assist you with any questions or inquiries you might have. We value your feedback and are dedicated to making your experience as seamless as possible. Thank you for using Brisbuis!</p>
    </div>
    </div>
</body>
<br><br>
{% endblock %}
